{% extends 'signup.html' %}

{% block header %}
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/11285bfb5b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/logout_main.js"></script>
    <link rel="stylesheet" href="/static/styles/logout.css">
    <script src="/static/scripts/submit_pay.js"></script>
    <script src="/static/scripts/proceed_payment.js"></script>
{% endblock %}

{% block content %}
    <div class="head_container">
        <img src="/static/images/logo.jpg" alt="">
        <div class="head_writeup">
            <h5>Logout</h5>
            <div class="confirm">
                <h4>Are you certian?</h4><br>
                <a href="{{ url_for('pop_user')}}"><button>confirm</button></a>
                <a href=""><button>Cancel</button></a>
            </div>
            <br>
            <h2>Sparkle Laundry Service</h2><br>
            <p>Welcome to <b>Sparkle Laundry Service</b>,<br>your one-stop solution for all laundry
            and dry cleaning services,<br> we understand that life is busy, and finding time for
            cleaning can be a hassle. <br>That's why we are here to make it easier for you</p>
        </div>
        <hr>
    </div>

    <div class="whyUs" id="pay">
        <div class="whyUs_text">  <br>    
            <h2>Why Choose Us?...</h2>
            <ul>
                <li><b>Affordable Price</b><br>
                Our price are very affordable,<br>
                we offer great values, for money</li>
                
                <li><b>Super Quality</b><br>
                    We offer the highest quality,<br>
                    of cleaning and care for all types<br>of fabrics</li>
                
                <li><b>Quick Deliver</b><br>
                    We covet, clean and deliver<br>
                    within 72 hours</li>
            </ul><br><br>  
        </div>
        <img src="/static/images/washing.jpg" alt="">
        <div class="side">
            <h6 class="payTotal"></h6>
            <h3>Payment method</h3>
            <i class="fa-solid fa-hand-pointer fa-rotate-90"></i>   <span>&nbsp;&nbsp;
                Pay on delivery&nbsp;&nbsp;&nbsp;</span><br>
            <i class="fa-solid fa-money-bill-transfer"></i>  <span id="bt">&nbsp;&nbsp;
                Bank Transfer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
                <div class="bankDetails">
                    <table>
                        <thead>
                            <td>Bank-Name</td>
                            <td>Acc._Name</td>
                            <td>Acc._Number</td>
                        </thead>
                        <tr>
                            <td>Opay</td>
                            <td>Iberedem Inyang</td>
                            <td>8039678842</td>
                        </tr>
                        <tr>
                            <td>First Bank</td>
                            <td>Iberedem Inyang</td>
                            <td>3053040115</td>
                        </tr>
                    </table>
                </div>
            <i class="fa-solid fa-credit-card"></i>  <span>&nbsp;&nbsp;<a href="{{ url_for('e_payment') }}">
                Online Payment</a>&nbsp;&nbsp;</span>
        </div>
    </div>
    <hr>
    <div class="our_services">
        <h2>Our  Services</h2>
        <p>We offer you the best experience you could ever think of <br>
        Engage us for a any of the underlisted services <br>
        We deliver satisfaction</p>
        <div class="service_items">
            <div class="items">
                <img src="/static/images/washing.jpeg" alt="suits cleaning services" id="wash">
                <p>Washing</p>
                <button class="button" id="button1">Check out</button>
                <div class="dropme_wash">
                    <table>
                        <thead>
                            <td>Check</td>
                            <td>Items</td>
                            <td>Price</td>
                            <td>QTY</td>
                            <td>Pay</td>
                        </thead>
                        <tr>
                            <td><input type="checkbox"  class="jean"></td>
                            <td>Jean</td>
                            <td>$10</td>
                            <td><input type="number" id='jean' min='0' style="width: 40px;"></td>
                            <td><label class="pay_jean"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="bed"></td>
                            <td>Beddings</td>
                            <td>$25</td>
                            <td><input type="number" id='bed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_bed"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="co"></td>
                            <td>Co-operate wears</td>
                            <td>$15</td>
                            <td><input type="number" id='co' min="0" style="width: 40px;"></td>
                            <td><label class="pay_co"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="wed"></td>
                            <td>Wedding dresses</td>
                            <td>$35</td>
                            <td><input type="number" id='wed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_wed"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="dev"></td>
                            <td>Duvets</td>
                            <td>$20</td>
                            <td><input type="number" id='dev' min="0" style="width: 40px;"></td>
                            <td><label class="pay_dev"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="cot"></td>
                            <td>Cottons</td>
                            <td>$8</td>
                            <td><input type="number" id='cot' min="0" style="width: 40px;"></td>
                            <td><label class="pay_cot"></label></td>
                        </tr>
                        <tr>
                            <td><button class="submitPay">Submit</button></td>
                            <td style="font-weight: bolder" class="hide">Total</td>
                            <td></td>
                            <td></td>
                            <td id="pay_now" class="hide">0</td>
                        </tr>
                    </table>
                </div>    
            </div>
            <div class="items">
                <img src="/static/images/stain-removal.jpg" alt="stain removal" id="stain">
                <p>Stain Removal</p>
                <button class="button" id="button2">Check out</button>
                <div class="dropme_stains">
                    <table>
                        <thead>
                            <td>Check</td>
                            <td>Items</td>
                            <td>Price</td>
                            <td>QTY</td>
                            <td>Pay</td>
                        </thead>
                        <tr>
                            <td><input type="checkbox"  class="jean"></td>
                            <td>Jean</td>
                            <td>$25</td>
                            <td><input type="number" id='jean' min='0' style="width: 40px;"></td>
                            <td><label class="pay_jean"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="bed"></td>
                            <td>Beddings</td>
                            <td>$40</td>
                            <td><input type="number" id='bed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_bed"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="co"></td>
                            <td>Co-operate wears</td>
                            <td>$30</td>
                            <td><input type="number" id='co' min="0" style="width: 40px;"></td>
                            <td><label class="pay_co"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="wed"></td>
                            <td>Wedding dresses</td>
                            <td>$55</td>
                            <td><input type="number" id='wed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_wed"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="dev"></td>
                            <td>Duvets</td>
                            <td>$28</td>
                            <td><input type="number" id='dev' min="0" style="width: 40px;"></td>
                            <td><label class="pay_dev"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="cot"></td>
                            <td>Cottons</td>
                            <td>$18</td>
                            <td><input type="number" id='cot' min="0" style="width: 40px;"></td>
                            <td><label class="pay_cot"></label></td>
                        </tr>
                        <tr>
                            <td><button class="submitPay">Submit</button></td>
                            <td style="font-weight: bolder" class="hide">Total</td>
                            <td></td>
                            <td></td>
                            <td id="pay_now" class="hide">0</td>
                        </tr>
                    </table>
                </div>    
            </div>
            <div class="items">
                <img src="/static/images/ironing.jpeg" alt="ironing" id="iron">
                <p>Ironing</p>
                <button class="button" id="button3">Check out</button>
                <div class="dropme_iron">
                    <table>
                        <thead>
                            <td>Check</td>
                            <td>Items</td>
                            <td>Price</td>
                            <td>QTY</td>
                            <td>Pay</td>
                        </thead>
                        <tr>
                            <td><input type="checkbox"  class="jean"></td>
                            <td>Jean</td>
                            <td>$2</td>
                            <td><input type="number" id='jean' min='0' style="width: 40px;"></td>
                            <td><label class="pay_jean"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="bed"></td>
                            <td>Beddings</td>
                            <td>$free</td>
                            <td><input type="number" id='bed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_bed"></label></td>
                        </tr>

                        <tr>
                            <td><input type="checkbox"  class="co"></td>
                            <td>Co-operate wears</td>
                            <td>$free</td>
                            <td><input type="number" id='co' min="0" style="width: 40px;"></td>
                            <td><label class="pay_co"></label></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"  class="wed"></td>
                            <td>Wedding dresses</td>
                            <td>$5</td>
                            <td><input type="number" id='wed' min="0" style="width: 40px;"></td>
                            <td><label class="pay_wed"></label></td>
                        </tr>
                        
                        <tr>
                            <td><button class="submitPay">Submit</button></td>
                            <td style="font-weight: bolder" class="hide">Total</td>
                            <td></td>
                            <td></td>
                            <td id="pay_now" class="hide">0</td>
                        </tr>
                    </table>
                </div>
                
            </div>
            <div class="space"></div>
            <div class="items">
                <img src="/static/images/home_service.jpeg" alt="home_services" id="home_service">
                <p>Home Service</p>
            </div>
            <div class="items">
                <img src="/static/images/special_engagement.png" alt="special" id="engagement">
                <p>Special Engagement</p>
            </div>
            <div class="items">
                <img src="/static/images/wash.jpeg" alt="special" id="general_contract">
                <p>General Contract</p>
            </div>
        </div>
        
        <div class="proceed">
            <h5><a href="#engagement"><button>Proceed to payment</button></a><span style="text-align: center;">
            </span></h5>
        </div>
    </div>
    <div class="footer_log" id="footer">
        <div class="address">
            <h3>Address</h3>
            <p>No. 10 Ikot Udota <br>
            PH branch <br>
            172 Alakahia <br>
            Rivers State</p>
        </div>
        <div class="contactUs">
            <h3>Contact Us</h3>
            <p>Sparkle group <br>
            call: 07042104218 <br>
            whatsapp: 07042104216 <br><br>
            Sparkle 24/7 Service department <br>
            303.429.2023 <br>
            (then press 1 for emergency calls)</p>
        </div>
        <div class="email">
            <h3>Email</h3>
            <p>sparklelaundry@gmail.com <br>
            Employment opportunities <br>
            employ@sparkle.com</p>
        </div>
    </div>
 {% endblock %}