body{
    background-color: rgb(247, 247, 236) !important;
    margin: 3px !important;
}

.head_container{
    margin: 0%;
    margin-top: 0.5%;
}

.head_container img{
    border-radius: 50%;
    float:left;
    width: 350px;
    height: 350px;
    margin-left: 5%;
}

.head_writeup{
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;
    background-color: black;
    border-radius: 5px;
    height: 350px;
}

.head_writeup h2{
    color:#faf9fa;font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #fff59c;
}

.head_writeup h3{
    position: absolute;
    right: 0;
    color:red;
    background-color: white;
    width: 200px;
    border-bottom-left-radius: 40%;
    border-top-left-radius: 40%;
    border-right: 2px solid black;
    margin-right: 3px;
    cursor: pointer;
}

.head_writeup p, h2{
    color: #faf9fa;
    font-weight: 400;
}

.whyUs{
    display: flex;
    flex-direction: row;
    background-color: white;
    line-height: 2em;
}

.whyUs_text{
    margin-left: 10%; 
    color: rgb(9, 1, 51);
    font-weight: 400;
}

.whyUs_text h2{
    color: rgb(16, 0, 94)
}

.whyUs img{
    border-radius: 5%;
    margin-left: 2%;
}

.side{
    border: 5px solid black;
    height: 200px;
    margin-top: 10%;
    margin-left: 2%;
    border-radius: 10%;
    text-align: center;
    
    width: 300px;
    border-right-color: white;
}

.side h3{
    margin-top: 10%;
    font-style: italic;
    text-decoration: underline;
    color: rgb(195, 1, 1);
}

.our_services{
    height: 1200px;
    width: 100%;
    background: linear-gradient(-5deg, rgb(237, 234, 234) 40%, rgb(167, 226, 255) 40%);
    color:rgb(0, 0, 92);
}

.our_services h2{
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

.our_services p{
    text-align: center;
    font-style: italic;

}

.service_items{
    display: flex;
    justify-content: space-evenly;
    max-width: 2000px;
    flex-wrap: wrap;
    padding: 20px;
}

.service_items img{
    height: 400px;
    width: 400px;
    border: 2px solid white;
    border-bottom: none;
}

.service_items p{
    width: 400px;
    text-align: center;
    background-color: black;
    color: white;
    border-left:2px solid white;
    border-right: 2px solid white;
}

.service_items .wash, .stain{
    display: none;
}

.button{
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    margin-top:0px;
    background-color: transparent;
    color: rgb(0, 0, 84);
    border-color: rgb(0, 0, 84);
    font-weight: 500;
}

.button:hover{
    background-color: white;
    color:red;
    border:none;
    font-weight: 800;
}

.space{
    height: 50px;
    width: 100%;
}

.dropme_wash, .dropme_stains, .dropme_iron{
    display: none;
    position:absolute;
    margin-left: 0%;
    background-color: gray;
}

table{
    border: 2px solid white;
    align-items: center;
}

table tr, td{
    border: 1px solid black;
    padding: 10px;
}

thead{
    font-weight: bold;
    color: brown;
}

.dropme_wash .hide, .dropme_stains .hide, .dropme_iron .hide{
    display: none;
}

.submitPay{
    border: none;
    border-radius: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color:navy;
    font-weight: light;
}

.submitPay:hover{
    color:red;
    border-bottom: 2px solid black;
}

.proceed{
    height:50px;
    width: 100%;
    background-color: black;
}

.proceed span{
    color:white;
    font-size: 0.8em;
    margin-left: 20%;
}

.proceed button{
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    padding-right: 20px;
    font-size: 0.9em;
    padding-top: 4px;
    color:red;
}

.proceed button:hover{
    color:white;
    background-color: red;
}

.noSelection{
    text-align: left !important;
    margin-left: 5%;
    color:red;
    position:absolute;
}

.payTotal{
    position: absolute;
    margin-left:5%;
    color:green;
}

.bankDetails{
    position: absolute;
    background-color: grey;
    font-size: small;
    border-radius: 15px;
    display:none;
}