.form_pane input[type='email']{
    width: 100%;
}

.form_pane input[type='number']{
    width: 100%;
}

.form_pane p{
    font-size: smaller;
}

.form_pane a{
    font-size: 1em;
    font-style: italic;
    text-decoration: none;
}

.form_pane{
    border: 2px solid white;
    height: 580px;
    width: 400px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
    line-height: 30px;
    background-color: #e2e9e1;      
}

.form_pane input[type='submit']{
    width: 60%;
    border-radius: 20px;
    border: 1px solid rgb(95, 136, 139);
    margin-left: 20%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color: rgb(95, 136, 139);
    padding: 5px;
}